# Yahoo Finance data gather

#### by Vinicius Lima

In this notebook you will apply a few things you learned in the [FinanceHub's Python lectures](https://github.com/Finance-Hub/FinanceHubMaterials/tree/master/Python%20Lectures):

* You will use and manipulate different kinds of variables in Python such as text variables, booleans, floats, dictionaries, lists, etc.;
* We will also use `Pandas.DataFrame` objects and methods which are very useful in manipulating financial time series;
* You will use if statements, loops, and list comprehensions, and;
* You will use two tools for especificaly download yahoo finance data

## Introduction

In this lecture, you will learn how to extract data from Yahoo finances using two methods.

The first one will use the library pandas_datareader to gather Apple's stocks data.

https://learndatasci.com/tutorials/python-finance-part-yahoo-finance-api-pandas-matplotlib/

In [19]:
from pandas_datareader import data
import pandas as pd

## Data gather

The following method is quite simple, however keep in mind that it **does not work** with every stock or other data like currencies or commodities. This will be covered with the second method.

In [4]:
# We would like all available data from 01/01/2000 until 12/31/2016.
start_date = '2010-01-01'
end_date = '2019-12-31'

# User pandas_reader.data.DataReader to load the desired data. As simple as that.
# Notice that, the second parameter on the 'DataReader' function refers to where the data will be downloaded
panel_data = data.DataReader('AAPL', 'yahoo', start_date, end_date)
panel_data

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2010-01-04,30.642857,30.340000,30.490000,30.572857,123432400.0,26.601469
2010-01-05,30.798571,30.464285,30.657143,30.625713,150476200.0,26.647457
2010-01-06,30.747143,30.107143,30.625713,30.138571,138040000.0,26.223597
2010-01-07,30.285715,29.864286,30.250000,30.082857,119282800.0,26.175119
2010-01-08,30.285715,29.865715,30.042856,30.282858,111902700.0,26.349140
...,...,...,...,...,...,...
2019-12-24,284.890015,282.920013,284.690002,284.269989,12119700.0,284.269989
2019-12-26,289.980011,284.700012,284.820007,289.910004,23280300.0,289.910004
2019-12-27,293.970001,288.119995,291.119995,289.799988,36566500.0,289.799988
2019-12-30,292.690002,285.220001,289.459991,291.519989,36028600.0,291.519989
2019-12-31,293.679993,289.519989,289.929993,293.649994,25201400.0,293.649994

## Filtering data

Note that the data has multiples values. So for the next part we can isolate what we need to analyse. At this point, you can start to introduce tools that you learned from other lectures and start making use of all this data.

In [5]:
# Now that we have the data we need, we can start to manipulate it, let's isolate all the Close prices.
close = panel_data['Close']

# Then we can get all weekdays from the start to end date.
all_weekdays = pd.date_range(start_date, end_date, freq = 'B')

# With the dates set, we have to align them with the close prices we have, to do it we can use the method reindex.
close = close.reindex(all_weekdays)
pd.DataFrame(close)

                 Close
2010-01-01         NaN
2010-01-04   30.572857
2010-01-05   30.625713
2010-01-06   30.138571
2010-01-07   30.082857
...                ...
2019-12-25         NaN
2019-12-26  289.910004
2019-12-27  289.799988
2019-12-30  291.519989
2019-12-31  293.649994

[2608 rows x 1 columns]

In [6]:
# As you can see, there are NaNs on our dataframe, we can fill the missing by replacing them
# with the latest available price for each instrument
close = close.fillna(method='ffill')
pd.DataFrame(close)

                 Close
2010-01-01         NaN
2010-01-04   30.572857
2010-01-05   30.625713
2010-01-06   30.138571
2010-01-07   30.082857
...                ...
2019-12-25  284.269989
2019-12-26  289.910004
2019-12-27  289.799988
2019-12-30  291.519989
2019-12-31  293.649994

[2608 rows x 1 columns]

In [21]:
# Next we can get some more information from this data using the "describe" method.
pd.DataFrame(close.describe())

             Close
count  2607.000000
mean    110.315829
std      56.108225
min      27.435715
25%      64.781429
50%      99.519997
75%     150.445000
max     293.649994

## Second Method 

The previous method is simple and can be effective depending on your goals, however it is limited because Yahoo deprecieted some features.

This second method utilize a library created as a alternative, but it keeps the simplicity and the returned data is in the same format as the **pandas_datareader**, so with you already have some work with that library you won't need to change it.

https://aroussi.com/post/python-yahoo-finance

First we import this library called **yfinance**.

In [8]:
import yfinance as yf

This works around the method **Ticker** which the input parameter is the market data you want. In this case we will use Apple to compare with the previous method.

In [25]:
#The core of the library is base on the method Ticker.
apple = yf.Ticker("AAPL")

In [27]:
#After we instanciate it, we can start manipulating it's data.
#We can get some general information about the stock with info.
apple.info

{'zip': '95014',
 'sector': 'Technology',
 'fullTimeEmployees': 137000,
 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides digital content stores and streaming services; AppleCare support services; and iCloud, a cloud service, which stores music, photos, contacts, calendars, mail, documents, and others. In addition, the company offers various service, such as Apple Arcade, a game subscription service; Apple Card, a co-branded credit card; Apple News+, a subscription news and magazine service; and Apple Pay, a cashless payment service, as well as licenses its intellectual property, and provides other related services. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store, Mac App Store, and Watch App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.',
 'city': 'Cupertino',
 'phone': '408-996-1010',
 'state': 'CA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'http://www.apple.com',
 'maxAge': 1,
 'address1': 'One Apple Park Way',
 'industry': 'Consumer Electronics',
 'previousClose': 324.34,
 'regularMarketOpen': 320.543,
 'twoHundredDayAverage': 245.99399,
 'trailingAnnualDividendYield': 0.009372881,
 'payoutRatio': 0.2394,
 'volume24Hr': None,
 'regularMarketDayHigh': 324.09,
 'navPrice': None,
 'averageDailyVolume10Day': 35860300,
 'totalAssets': None,
 'regularMarketPreviousClose': 324.34,
 'fiftyDayAverage': 298.99576,
 'trailingAnnualDividendRate': 3.04,
 'open': 320.543,
 'averageVolume10days': 35860300,
 'expireDate': None,
 'yield': None,
 'algorithm': None,
 'dividendRate': 3.08,
 'exDividendDate': 1581033600,
 'beta': 1.244671,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 318.75,
 'priceHint': 2,
 'currency': 'USD',
 'trailingPE': 25.461287,
 'regularMarketVolume': 22420610,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 1405892296704,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 28442917,
 'priceToSalesTrailing12Months': 5.252079,
 'dayLow': 318.75,
 'ask': 320.71,
 'ytdReturn': None,
 'askSize': 800,
 'volume': 22420610,
 'fiftyTwoWeekHigh': 327.85,
 'forwardPE': 20.649382,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.62,
 'fiftyTwoWeekLow': 164.56,
 'bid': 320.67,
 'tradeable': True,
 'dividendYield': 0.0095,
 'bidSize': 800,
 'dayHigh': 324.09,
 'exchange': 'NMS',
 'shortName': 'Apple Inc.',
 'longName': 'Apple Inc.',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EST',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-18000000',
 'quoteType': 'EQUITY',
 'symbol': 'AAPL',
 'messageBoardId': 'finmb_24937',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 5.337,
 'beta3Year': None,
 'profitMargins': 0.21490999,
 'enterpriseToEbitda': 18.289,
 '52WeekChange': 0.96272314,
 'morningStarRiskRating': None,
 'forwardEps': 15.53,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 4384030208,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'bookValue': 20.418,
 'sharesShort': 41597446,
 'sharesPercentSharesOut': 0.0095,
 'fundFamily': None,
 'lastFiscalYearEnd': 1569628800,
 'heldPercentInstitutions': 0.62511003,
 'netIncomeToCommon': 57527001088,
 'trailingEps': 12.595,
 'lastDividendValue': None,
 'SandP52WeekChange': 0.22093952,
 'priceToBook': 15.705991,
 'heldPercentInsiders': 0.00065,
 'nextFiscalYearEnd': 1632787200,
 'mostRecentQuarter': 1577491200,
 'shortRatio': 1.28,
 'sharesShortPreviousMonthDate': 1576195200,
 'floatShares': 4121964689,
 'enterpriseValue': 1428732248064,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1402272000,
 'lastSplitFactor': '7:1',
 'legalType': None,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.114,
 'dateShortInterest': 1579046400,
 'pegRatio': 1.95,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0095,
 'sharesShortPriorMonth': 50745596,
 'category': None,
 'fiveYearAverageReturn': None,
 'regularMarketPrice': 320.543,
 'logo_url': 'https://logo.clearbit.com/apple.com'}

For a more quantitative data, we use the history method.

This method has some useful paremeters list below:

- period: data period to download (Either Use period parameter or use start and end) Valid periods are: 1d, 5d, 1mo, 3mo, 6mo, 1y, 2y, 5y, 10y, ytd, max


- interval: data interval (intraday data cannot extend last 60 days) -Valid intervals are: 1m, 2m, 5m, 15m, 30m, 60m, 90m, 1h, 1d, 5d, 1wk, 1mo, 3mo


- start: If not using period - Download start date string (YYYY-MM-DD) or datetime.


- end: If not using period - Download end date string (YYYY-MM-DD) or datetime.


- prepost: Include Pre and Post market data in results? (Default is False)

In [26]:
apple.history(start="2010-01-01", end="2019-12-31")

              Open    High     Low   Close     Volume  Dividends  Stock Splits
Date
2010-01-04   26.53   26.66   26.40   26.60  123432400        0.0           0.0
2010-01-05   26.67   26.80   26.51   26.65  150476200        0.0           0.0
2010-01-06   26.65   26.75   26.20   26.22  138040000        0.0           0.0
2010-01-07   26.32   26.35   25.98   26.18  119282800        0.0           0.0
2010-01-08   26.14   26.35   25.99   26.35  111902700        0.0           0.0
...            ...     ...     ...     ...        ...        ...           ...
2019-12-23  280.53  284.25  280.37  284.00   24643000        0.0           0.0
2019-12-24  284.69  284.89  282.92  284.27   12119700        0.0           0.0
2019-12-26  284.82  289.98  284.70  289.91   23280300        0.0           0.0
2019-12-27  291.12  293.97  288.12  289.80   36566500        0.0           0.0
2019-12-30  289.46  292.69  285.22  291.52   36028600        0.0           0.0

[2515 rows x 7 columns]

## Mass download of market data

We can download multiple tickers at once using **download**.

In [29]:
data = yf.download("AAPL GOOG MSFT", start="2010-01-01", end="2019-12-31")

[*********************100%***********************]  3 of 3 completed

In [31]:
data.T

Date              2010-01-04    2010-01-05    2010-01-06    2010-01-07  \
Adj Close AAPL  2.660147e+01  2.664746e+01  2.622360e+01  2.617512e+01
          GOOG  3.122048e+02  3.108299e+02  3.029943e+02  2.959407e+02
          MSFT  2.436073e+01  2.436860e+01  2.421905e+01  2.396717e+01
Close     AAPL  3.057286e+01  3.062571e+01  3.013857e+01  3.008286e+01
          GOOG  3.122048e+02  3.108299e+02  3.029943e+02  2.959407e+02
          MSFT  3.095000e+01  3.096000e+01  3.077000e+01  3.045000e+01
High      AAPL  3.064286e+01  3.079857e+01  3.074714e+01  3.028572e+01
          GOOG  3.135796e+02  3.127477e+02  3.117614e+02  3.038611e+02
          MSFT  3.110000e+01  3.110000e+01  3.108000e+01  3.070000e+01
Low       AAPL  3.034000e+01  3.046428e+01  3.010714e+01  2.986429e+01
          GOOG  3.109545e+02  3.096095e+02  3.020479e+02  2.952184e+02
          MSFT  3.059000e+01  3.064000e+01  3.052000e+01  3.019000e+01
Open      AAPL  3.049000e+01  3.065714e+01  3.062571e+01  3.025000e+01
          GOOG  3.123044e+02  3.124190e+02  3.117614e+02  3.035622e+02
          MSFT  3.062000e+01  3.085000e+01  3.088000e+01  3.063000e+01
Volume    AAPL  1.234324e+08  1.504762e+08  1.380400e+08  1.192828e+08
          GOOG  3.927000e+06  6.031900e+06  7.987100e+06  1.287660e+07
          MSFT  3.840910e+07  4.974960e+07  5.818240e+07  5.055970e+07

Date              2010-01-08    2010-01-11    2010-01-12    2010-01-13  \
Adj Close AAPL  2.634914e+01  2.611670e+01  2.581962e+01  2.618382e+01
          GOOG  2.998860e+02  2.994326e+02  2.941375e+02  2.924488e+02
          MSFT  2.413247e+01  2.382550e+01  2.366807e+01  2.388846e+01
Close     AAPL  3.028286e+01  3.001571e+01  2.967429e+01  3.009286e+01
          GOOG  2.998860e+02  2.994326e+02  2.941375e+02  2.924488e+02
          MSFT  3.066000e+01  3.027000e+01  3.007000e+01  3.035000e+01
High      AAPL  3.028572e+01  3.042857e+01  2.996714e+01  3.013286e+01
          GOOG  3.004987e+02  3.011014e+02  2.979632e+02  2.930914e+02
          MSFT  3.088000e+01  3.076000e+01  3.040000e+01  3.052000e+01
Low       AAPL  2.986572e+01  2.977857e+01  2.948857e+01  2.915714e+01
          GOOG  2.934550e+02  2.959109e+02  2.929021e+02  2.858784e+02
          MSFT  3.024000e+01  3.012000e+01  2.991000e+01  3.001000e+01
Open      AAPL  3.004286e+01  3.040000e+01  2.988428e+01  2.969571e+01
          GOOG  2.948947e+02  3.011014e+02  2.977091e+02  2.871686e+02
          MSFT  3.028000e+01  3.071000e+01  3.015000e+01  3.026000e+01
Volume    AAPL  1.119027e+08  1.155574e+08  1.486149e+08  1.514730e+08
          GOOG  9.483900e+06  1.447980e+07  9.742900e+06  1.304180e+07
          MSFT  5.119740e+07  6.875470e+07  6.591210e+07  5.186350e+07

Date              2010-01-14    2010-01-15  ...    2019-12-16    2019-12-17  \
Adj Close AAPL  2.603218e+01  2.559713e+01  ...  2.798600e+02  2.804100e+02
          GOOG  2.938237e+02  2.889171e+02  ...  1.361170e+03  1.355120e+03
          MSFT  2.436860e+01  2.428989e+01  ...  1.555300e+02  1.546900e+02
Close     AAPL  2.991857e+01  2.941857e+01  ...  2.798600e+02  2.804100e+02
          GOOG  2.938237e+02  2.889171e+02  ...  1.361170e+03  1.355120e+03
          MSFT  3.096000e+01  3.086000e+01  ...  1.555300e+02  1.546900e+02
High      AAPL  3.006571e+01  3.022857e+01  ...  2.807900e+02  2.817700e+02
          GOOG  2.959905e+02  2.956718e+02  ...  1.364680e+03  1.365000e+03
          MSFT  3.110000e+01  3.124000e+01  ...  1.559000e+02  1.557100e+02
Low       AAPL  2.986000e+01  2.941000e+01  ...  2.769800e+02  2.788000e+02
          GOOG  2.903168e+02  2.879407e+02  ...  1.352670e+03  1.351323e+03
          MSFT  3.026000e+01  3.071000e+01  ...  1.548200e+02  1.544500e+02
Open      AAPL  3.001571e+01  3.013286e+01  ...  2.770000e+02  2.795700e+02
          GOOG  2.908598e+02  2.955622e+02  ...  1.356500e+03  1.362890e+03
          MSFT  3.031000e+01  3.108000e+01  ...  1.551100e+02  1.554500e+02
Volume    AAPL  1.082235e+08  1.485169e+08  ...  3.204650e+07  2.853960e+07
          GOOG  8.511900e+06  1.090960e+07  ...  1.397300e+06  1.854000e+06
          MSFT  6.322810e+07  7.991320e+07  ...  2.414420e+07  2.542560e+07

Date              2019-12-18    2019-12-19    2019-12-20    2019-12-23  \
Adj Close AAPL  2.797400e+02  2.800200e+02  2.794400e+02  2.840000e+02
          GOOG  1.352620e+03  1.356040e+03  1.349590e+03  1.348840e+03
          MSFT  1.543700e+02  1.557100e+02  1.574100e+02  1.574100e+02
Close     AAPL  2.797400e+02  2.800200e+02  2.794400e+02  2.840000e+02
          GOOG  1.352620e+03  1.356040e+03  1.349590e+03  1.348840e+03
          MSFT  1.543700e+02  1.557100e+02  1.574100e+02  1.574100e+02
High      AAPL  2.819000e+02  2.811800e+02  2.826500e+02  2.842500e+02
          GOOG  1.360470e+03  1.358100e+03  1.363640e+03  1.359800e+03
          MSFT  1.554800e+02  1.557700e+02  1.584900e+02  1.581200e+02
Low       AAPL  2.791200e+02  2.789500e+02  2.785600e+02  2.803700e+02
          GOOG  1.351000e+03  1.348985e+03  1.349000e+03  1.346510e+03
          MSFT  1.541800e+02  1.537500e+02  1.562900e+02  1.572700e+02
Open      AAPL  2.798000e+02  2.795000e+02  2.822300e+02  2.805300e+02
          GOOG  1.356600e+03  1.351820e+03  1.363350e+03  1.355870e+03
          MSFT  1.543000e+02  1.540000e+02  1.573500e+02  1.581200e+02
Volume    AAPL  2.900710e+07  2.459230e+07  6.899450e+07  2.464300e+07
          GOOG  1.522600e+06  1.469900e+06  3.315000e+06  8.831000e+05
          MSFT  2.412920e+07  2.495890e+07  5.347750e+07  1.771820e+07

Date              2019-12-24    2019-12-26    2019-12-27    2019-12-30
Adj Close AAPL  2.842700e+02  2.899100e+02  2.898000e+02  2.915200e+02
          GOOG  1.343560e+03  1.360400e+03  1.351890e+03  1.336140e+03
          MSFT  1.573800e+02  1.586700e+02  1.589600e+02  1.575900e+02
Close     AAPL  2.842700e+02  2.899100e+02  2.898000e+02  2.915200e+02
          GOOG  1.343560e+03  1.360400e+03  1.351890e+03  1.336140e+03
          MSFT  1.573800e+02  1.586700e+02  1.589600e+02  1.575900e+02
High      AAPL  2.848900e+02  2.899800e+02  2.939700e+02  2.926900e+02
          GOOG  1.350260e+03  1.361327e+03  1.364530e+03  1.353000e+03
          MSFT  1.577100e+02  1.587300e+02  1.595500e+02  1.590200e+02
Low       AAPL  2.829200e+02  2.847000e+02  2.881200e+02  2.852200e+02
          GOOG  1.342780e+03  1.344470e+03  1.349310e+03  1.334020e+03
          MSFT  1.571200e+02  1.574000e+02  1.582200e+02  1.567300e+02
Open      AAPL  2.846900e+02  2.848200e+02  2.911200e+02  2.894600e+02
          GOOG  1.348500e+03  1.346170e+03  1.362990e+03  1.350000e+03
          MSFT  1.574800e+02  1.575600e+02  1.594500e+02  1.589900e+02
Volume    AAPL  1.211970e+07  2.328030e+07  3.656650e+07  3.602860e+07
          GOOG  3.475000e+05  6.675000e+05  1.038400e+06  1.050900e+06
          MSFT  8.989200e+06  1.452060e+07  1.841280e+07  1.634840e+07

[18 rows x 2515 columns]

## Exercise

Suppose we would like to plot the MSFT time-series. We would also like to see how the stock behaves compared to a short and longer term moving average of its price.

A simple moving average of the original time-series is calculated by taking for each date the average of the last W prices (including the price on the date of interest). pandas has rolling(), a built in function for Series which returns a rolling object for a user-defined window, e.g. 20 days.

Once a rolling object has been obtained, a number of functions can be applied on it, such as sum(), std() (to calculate the standard deviation of the values in the window) or mean().

Try to plot the MSFT time-series with the comparison of short and longer term moving average.